body {
    background-color: yellow;
  }
.images{
    width: 250px;
    height: 250px;
}
  .cart-item {
   text-align: right;
    color: red;
    margin-right: 10px;
    
  }

  #name{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }
  .cocktail-details{
    display: flex;
    flex-wrap: wrap;
    padding-left: 55px;
    padding-top: 20px;
  }
  .cards{
    width: 300px;
   
  }