
body {
    background-color: yellow;
  }
.images{
    width: 250px;
    height: 250px;
}
  .cart-item {
    font-size: larger ;
    font-family: Caveat;
    font-weight: 800;
   text-align: right;
    color: red;
    margin-right: 10px;
    
  }

  #name{
    color: red;
    font-family:Nerko One;
    font-size: 50px;
    text-align: center;
  }
  .cocktail-details{
    display: flex;
    flex-wrap: wrap;
    padding-left: 55px;
    padding-top: 20px;
  }
  .cards{
    width: 300px;
   
  }
  img{
    height: 20px;
    width: 20px;
  }